<% content_for :scripts do %>
  <script type="text/javascript">
    $(function() {
      // append or remove a toggled pattern option into the pattern option box
      $("#PCRE_options input[type=checkbox]").change(function() {
        var el = $(this);
        var opts = $("#PCREck_pattern_options");
        var curr_opts = opts.attr("value");
        if (el.is(":checked")) {
          opts.attr("value", curr_opts + el.attr("value"));
        } else {
          opts.attr("value", opts.attr("value").replace(el.attr("value"), ""));
        }
      });

      // update the pattern options' :checked state when the user
      // manually writes options in the pattern option box
      $("#PCREck_pattern_options").keyup(function() {
        var opts = $(this).attr("value").split('');
        $("#PCRE_options input[type=checkbox]").attr("checked", null);
        $("#PCRE_options input[type=checkbox]").each(function() {
          var this_opt = $(this).attr("value");
          if (opts.indexOf(this_opt) != -1)
            $(this).attr("checked", "checked");
        });
      });
    });
  </script>
<% end %>

<section id="PCRE_options">
  <fieldset>
    <legend>PCRE Options</legend>
    <label title="makes matching case insensitive">
      <%= pattern_option("i") %>
      Caseless <code>/i</code>
    </label>
    <label title="captures will span line feeds">
      <%= pattern_option("m") %>
      Multi-line <code>/m</code>
    </label>
    <label title="makes .* match everything, including control characters">
      <%= pattern_option("s") %>
      Dot-ALL <code>/s</code>
    </label>
    <label>
      <%= pattern_option("x") %>
      Extended <code>/x</code>
    </label>
    <label>
      <%= pattern_option("U") %>
      Ungreedy <code>/U</code>
    </label>
    <label>
      <%= pattern_option("X") %>
      Extra <code>/X</code>
    </label>
    <label>
      <%= pattern_option("J") %>
      Duplicate names <code>/J</code>
    </label>

  </fieldset>
</section>