<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description"
          content="PCREck is a multi-dialect regular expression editor.">

    <title>PCREck - a multi-dialect regular expression editor</title>


    <% if settings.development? %>
      <link href="/css/PCREck.css" rel="stylesheet" type="text/css" />
    <% else %>
      <link href="/css/PCREck.min.css" rel="stylesheet" type="text/css" />
    <% end %>

  </head>

  <body>
    <%= erb :"_header" %>

    <nav>
      <span class="current_dialect"><%= @dialect %></span> -
      <% if @link && @link.mode == "simple" %>
        <span>simple mode</span>
        <a title="The advanced mode provides features useful for complex and large expressions" href="/<%= @dialect %>/advanced">advanced mode</a>
      <% else %>
        <a href="/<%= @dialect %>">simple mode</a>
        <span>advanced mode</span>
      <% end %>

      <div id="dialects">
        <a title="The dialect of the regular expression"
           data-placement="left"
           class="listlike" href="/dialects">Dialects</a>
        <ol class="listlike">
          <% @@dialects.each do |d| %>
            <li><a <%= 'class="disabled"' if @link.dialect == d %> href="/<%=d%><%=@mode == 'simple' ? '' : "/#{@mode}" %>"><%= d %></a></li>
          <% end %>
        </ol>
      </div>
    </nav>

    <div hidden="hidden" id="indicator">
      <img src="/images/ajax-loader.gif" width="31" height="31" alt="Loader" />
      <span>loading...</span>
    </div>

    <%= yield %>

    <%= erb :"_footer" %>

    <% if settings.development? %>
      <link href="/css/PCREck.css" rel="stylesheet" type="text/css" />
      <script type="text/javascript" src="/js/jquery-1.7.2.js"></script>
      <script type="text/javascript" src="/js/jquery.autosize.js"></script>
      <script type="text/javascript" src="/js/dynamism.js"></script>
      <script type="text/javascript" src="/js/PCREck.js"></script>
      <script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
    <% else %>
      <link href="/css/PCREck.min.css" rel="stylesheet" type="text/css" />
      <script type="text/javascript" src="/js/PCREck.min.js"></script>
      <%= erb :"_google_analytics" %>
    <% end %>

    <script>
      $(function() {
        window.PCREck.dialect = "<%= @dialect %>";
      });
    </script>
    <%= yield_content :scripts %>
  </body>
</html>