<% content_for :scripts do %>
  <script type="text/javascript">
    $(function() {
      PCREck.set_mode("advanced");
      $("#gen_permalink").click(PCREck.advanced.gen_permalink);

      dyn_register_callback(function(clone, action) {
        if (clone && action == "add") {
          var idx = parseInt(clone.attr("data-dyn-index"));
          if (idx % 2 != 0) {
            clone.addClass("odd");
          }

          clone.find("textarea").autosize();
          clone.find("textarea").keyup(PCREck.pulsate);
        }
      });

      PCREck.advanced.query();
    });

  </script>
<% end %>

<!-- <p>The advanced mode supports a few extra features you might find handy:</p>
<ol>
  <li>multiple subjects can be defined to test your pattern against simultaneously</li>
  <li>the pattern and subject fields are converted to smart textareas for improved large expression support</li>
</ol> -->

<section class="PCREck">
  <div class="part spanner">
    <label for="PCREck_pattern">Your regular expression:</label>
    <div class="part left" style="width: 120px; margin-right: 0">
      <code>(?</code>
      <input type="text" id="PCREck_pattern_options"
        name="options"
        style="width: 70px; font-size: 12px"
        value="<%= @link.options %>" />
      <code>)</code>
    </div>
    <div class="part right" style="width: 840px; border-left: none">
     <textarea 
        id="PCREck_pattern"
        name="pattern"
        autofocus="autofocus"
        placeholder="^(banana)+s? (.*)$"><%= @link.pattern %></textarea>
    </div>
  </div>
</section>

<%= erb :"options/#{@dialect}" %>

<% 
  subjects = [ "" ]
  if @link && @link.mode == "advanced" && @link.subject && !@link.subject.empty?
    JSON.parse(@link.subject).each_pair { |_, subject|
      subjects << subject
    }
  else
    # subjects << @link.subject
  end
%>

<section class="PCREck" id="PCREck_subjects">

  <% subjects.each_with_index do |subject, idx| %>
    <% curr_idx = idx - 1 %>
    <div  data-dyn-entity="subjects" data-dyn-index="<%= curr_idx %>"
          class="PCREck_subject <%= 'odd' if idx != 0 && (curr_idx) % 2 != 0 %>" >
      <h3>Subject #<span data-dyn-substitute="index"><%= curr_idx %></span></h3>
      <button tabindex="-1" data-dyn-target="subjects" data-dyn-target-index="<%= curr_idx %>" data-dyn-action="remove">X</button>
      <div class="part spanner">
        <label>Your test string:</label>
        <textarea
          name="subjects[<%= curr_idx %>]"
          placeholder="bananas in the car"><%= subject %></textarea>
        <!-- <button id="add_subject">Add another subject</button> -->
      </div>
      
      <div class="part spanner">
        <label>
          Matches:
        </label>
        <pre class="match">--</pre>
        <label>
          Captured subpatterns:
        </label>
        <pre class="capture">--</pre>

      </div>
    </div>
  <% end %>
</section>
<button id="add_subject" data-dyn-target="subjects">&plus; Add another subject</button>

<section id="PCREck_actions">
  <button id="gen_permalink">&hearts; Permanent link</button>
  <span id="permalink"></span>
</section>

<%= erb :"cheatsheets/#{@dialect}" %>
