<% content_for :scripts do %>
  <script type="text/javascript">
    $(function() {
      PCREck.set_mode("advanced");

      dyn_register_callback(function(clone, action) {
        if (clone && action == "add") {
          var idx = clone.attr("data-dyn-index");
          if (idx % 2 != 0)
            clone.addClass("odd");

          clone.find("textarea").autosize();
          clone.find("textarea").keyup(PCREck.pulsate);
        }
      });

      $("#add_subject").click();
      $("#PCREck_pattern").attr("value", "foo(bar)");
      $("textarea[name^=subject]:visible:first").attr("value", "foobar");
      PCREck.query();
    });


  </script>
<% end %>

<section class="PCREck">
  <div class="part spanner">
    <label for="PCREck_pattern">Your regular expression:</label>
    <div class="part left" style="width: 120px; margin-right: 0">
      <code>(?</code>
      <input type="text" id="PCREck_pattern_options"
        name="options"
        style="width: 70px; font-size: 12px"
        placeholder="imsxUX"
        value="<%= @link.options %>" />
      <code>)</code>
    </div>
    <div class="part right" style="width: 840px; border-left: none">
     <textarea 
        id="PCREck_pattern"
        name="pattern"
        autofocus="autofocus"
        placeholder="^(banana)+s? (.*)$"><%= @link.pattern %></textarea>
    </div>
  </div>
</section>
<%= erb :"_options" %>
<section class="PCREck" id="PCREck_subjects">

  <div class="PCREck_subject" data-dyn-entity="subjects">
    <h3>Subject #<span data-dyn-substitute="index"></span></h3>
    <div class="part spanner">
      <label>Your test string:</label>
      <textarea
        name="subjects[-1]"
        placeholder="bananas in the car"><%= @link.subject %></textarea>
      <!-- <button id="add_subject">Add another subject</button> -->
    </div>
    
    <div class="part spanner">
      <label>
        Matches:
      </label>
      <pre class="match">--</pre>
      <label>
        Captured subpatterns:
      </label>
      <pre class="capture">--</pre>

    </div>
  </div>
</section>
<button id="add_subject" data-dyn-target="subjects">Add another subject</button>

<section id="PCREck_actions">
  <button id="gen_permalink">Permanent link</button>
  <span id="permalink"></span>
</section>

<%= erb :"_cheatsheet" %>
<%= erb :"_references" %>
