<% content_for :scripts do %>
  <script type="text/javascript">

    $(function() {
      PCREck.set_mode("simple");

      $("#gen_permalink").click(PCREck.simple.gen_permalink);

      // force a query if the fields were initialized with a custom value
      var pattern = $("#PCREck_pattern").attr("value");
      var subject = $("#PCREck_subject").attr("value");
      if (pattern.length > 0 && subject.length > 0)
        PCREck.simple.query();

    });

  </script>
<% end %>

<section id="PCREck" class="PCREck">
  <div class="part spanner">
    <label for="PCREck_pattern">Your regular expression:</label>
    <div class="part left" style="width: 120px; margin-right: 0">
      <code>(?</code>
      <input type="text" id="PCREck_pattern_options"
        style="width: 70px; font-size: 12px"
        placeholder="imsxUX"
        value="<%= @link.options %>" />
      <code>)</code>
    </div>
    <div class="part right" style="width: 840px; border-left: none">
      <input 
        type="text" id="PCREck_pattern" 
        autofocus="autofocus"
        placeholder="^(banana)+s? (.*)$"
        value="<%= @link.pattern %>"/>
    </div>
  </div>
  <div class="part left">
    <label for="PCREck_subject">Your test string:</label>
    <textarea id="PCREck_subject" placeholder="bananas in the car"><%= @link.subject %></textarea>
  </div>
  
  <div class="part right">
    <label>
      Matches:
    </label>
    <pre id="PCREck_match">--</pre>
    <label>
      Captured subpatterns:
    </label>
    <pre id="PCREck_capture">--</pre>

  </div>
</section>

<%= erb :"_options" %>

<section id="PCREck_actions">
  <button id="gen_permalink">&hearts; Permanent link</button>
  <span id="permalink"></span>
</section>

<%= erb :"_cheatsheet" %>
<%= erb :"_references" %>
